<html>
  <body>
    <table >
    　<tr>
    　　<th></th>
    　　<th></th>
    　</tr>
    　<tr>
    　　<td>Name</td>
    　　<td><input></td>
    　</tr>
    　<tr>
    　　<td>E-mail Address</td>
    　　<td><input></td>
    　</tr>
      <tr>
    　　<td>Password</td>
    　　<td><input></td>
    　</tr>
      <tr>
    　　<td>Confirm Password</td>
    　　<td><input></td>
    　</tr>
      </table>
  </body>
</html>
